.description-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    margin-top: 20px; 
}

.description-text {
    flex: 1;
    padding-left: 20px; 
    text-align: left; 
    font-size: 24px; 
    line-height: 1.5; 
}

.description-image {
    max-width: 600px; 
    height: auto; 
    margin-right: 20px; 
    margin-top: 100px; 
}  

.description-container .description-text {
    margin-top: 20px; 
}
